{%extends 'Music/base.html'%}
{%load crispy_forms_tags%}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{%block title%}New Song{%endblock%}

{%block content%}
    <div class="container-fluid" style="background-color:pink;height:100%">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <h3 class="text-primary text-capitalize">new song</h3>
                        <hr>
                        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                            {%if message%}
                            <div class="alert alert-primary">
                                <h4 class="text-danger">{{message}}</h4>
                            </div>
                            {%endif%}
                        {%csrf_token%}
                        {{form|crispy}}
                         <button type="submit" class="btn btn-info">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%endblock%}